/.cache
/bin
/dist
/lib/libjavafront.ctree*
/lib/libjavafront.rtree
/strategoxt.jar
lib/javafront.str.dep
lib/java/parse.str.dep
lib/java/pretty-print.str.dep
lib/java/postprocess/java-concat-ids.str.dep
lib/java/postprocess/java-lift-eblocks.str.dep
lib/java/pp/expression.str.dep
lib/java/pp/helpers.str.dep
lib/java/pp/literal.str.dep
lib/java/pp/main.str.dep
lib/java/pp/modifier.str.dep
lib/java/pp/name.str.dep
lib/java/pp/statement.str.dep
lib/java/pp/class/enum-declaration.str.dep
lib/java/pp/class/method-declaration.str.dep
lib/java/pp/interface/annotation-type.str.dep
lib/java/pp/interface/annotation.str.dep
lib/java/pp/type/parameterized.str.dep
lib/java/pp/type/primitive.str.dep
lib/java/pp/type/reference.str.dep
lib/java/pp/type/variable.str.dep
